html {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: #dcdcdc;
  font-family: 'Poppins', sans-serif;
  height: inherit;
  width: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
